{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="home-hero">

    <div class="container text-center">

        <h1 class="display-4 fw-bold">
            Smart Student Finance Tracker
        </h1>

        <p class="lead mt-3">

            Track expenses,
            manage budgets,
            achieve your savings goals,
            and gain AI-powered financial insights.

        </p>

        <a href="#" class="btn btn-success btn-lg mt-3">
            Get Started
        </a>

    </div>

</section>

{% endblock %}
